<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mapper 인터페이스의 추상메서드와 쿼리를 연결
    namespace : 인터페이스의 페키지를 포함한 클래스 이름(FQCN)
 -->
<mapper namespace="com.example.hr.mapper.EmpMapper">
  <select id="selectByCond" resultType="EmpDto">
  	select * from emp
  </select>
  
</mapper>